.callout {
  &__box {
    color: var(--white);
    border-radius: 12px;
    padding: 45px;
    background-color: var(--boxBlack);
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .heading {
    &__eyebrow {
      color: var(--lightBlue);
    }
    &__title {
      font-size: 45px;
    }
  }

  &__content {
    width: 50%;
  }

  &__image {
    width: 50%;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

  &__list-item {
    background-color: var(--darkBlue);
    border: 2px solid var(--gray);
    font-size: 18px;
    border-radius: 7px;
    padding: 15px 20px;
  }

  @media (max-width: 768px) {
    &__box {
      flex-direction: column;
      gap: 0;
    }

    .heading {
      &__title {
        font-size: 28px;
      }
    }

    &__content {
      width: 100%;
    }

    &__image {
      width: 100%;
    }

    &__list-item {
      font-size: 16px;
      padding: 12px 16px;
    }
  }
}
