:root {
  --black: #131820;
  --blue: #4a64ee;
  --lightBlue: #32e6e2;
  --lighterBlue: #8efbf7;
  --gray: #5a6767;
  --lightertGray: #e6ecf2;
  --darkGray: #293a39;
  --darkerGray: #30353a;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

html {
  font-family: var(--font-instrument-sans), sans-serif;
}
